<?xml version="1.0"?>
<launch>
  
  <!-- Hardware Interface -->
  <node name="receive_tcp_pose" pkg="rate_position_controller" type="receive_tcp_pose.py" output="screen"> 
    <param name="write_ip" type="string" value="127.0.0.1 "/>
    <param name="read_port" type="int" value="5052"/>
    <param name="publish_rate" type="double" value="1000.0" />
  </node>
  
</launch>
